<section class="find-here my-4">
  <button class="find-here__nav find-here__nav--left " type="button" aria-label="Scroll left">
    <i class="bi bi-chevron-left"></i>
  </button>

  <div class="find-here__viewport">
    <div class="find-here__grid">
      <a class="find-here__item text-decoration-none hover" href="/shop.html">
        <div class="shop">
          <img src="./assets/images/banners/bgCinta2.png" alt="Cinta Modeladora">
        </div>
        <p>Acessar Loja</p>
      </a>

      <a class="find-here__item text-decoration-none hover" href="/shop.html">
        <div class="find-here__circle">
          <img src="./assets/images/home/cinta01.png" alt="Cinta Modeladora">
        </div>
        <p>Cinta Modeladora</p>
      </a>

      <a class="find-here__item text-decoration-none hover" href="/shop.html">
        <div class="find-here__circle">
          <img src="./assets/images/home/cinta06.png" alt="Calcinha Cinta">
        </div>
        <p>Calcinha Cinta</p>
      </a>

      <a class="find-here__item text-decoration-none hover" href="/shop.html">
        <div class="find-here__circle">
          <img src="./assets/images/home/cinta05.png" alt="Sutiã">
        </div>
        <p>Sutiã</p>
      </a>

      <a class="find-here__item text-decoration-none hover" href="/shop.html">
        <div class="find-here__circle">
          <img src="./assets/images/home/cinta03.png" alt="Tecidos de alta compressão">
        </div>
        <p>Tecidos de alta compressão</p>
      </a>
    </div>
  </div>

  <button class="find-here__nav find-here__nav--right " type="button" aria-label="Scroll right">
    <i class="bi bi-chevron-right"></i>
  </button>
</section>