:root {
  --font-sans: "Montserrat", system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
  --font: var(--font-sans);

  --bg-white: #fbfbfb; /* bg for card */
  --bg-gray: rgb(224, 222, 222); /* bg for screen */
  --bg-red: #a41623ff; /* bg for header, footer and sidebar */

  --text-dark: #090909ff;  /* When bg where white or gray */
  --text-dark2: #394f49ff; /* When bg where white or gray */
  --text-white: #f7f7f7; /* When bg where red or black  */

  --bg: var(--bg-gray);

  --text: var(--text-dark);
  --text2: var(--text-dark2);
  --text3: rgba(9, 9, 9, 0.6);

  --muted: rgba(9, 9, 9, 0.65);

  --brand: var(--bg-red);
  --on-brand: var(--text-white);
  --border: rgba(5, 6, 7, 0.219);
  --border-brand: rgba(164, 22, 35, 0.25);
  --brand-box: rgba(164, 22, 35, 0.1);

  --shadow-sm: 0 0px 1px rgba(7, 7, 6, 0.181);
  --shadow-md: 1px 0px 5px 0px rgba(0, 0, 0, 0.192);
  --shadow-lg: 0px 0px 10px 0px rgba(0, 0, 0, 0.516);

  --padding-sm: .2rem; 
  --padding-md: .6rem; 
  --padding-lg: 1.2rem; 
  --padding-xlg: 2.7rem; 

  --gap-sm: .5rem;
  --gap-md: .9rem; 
  --gap-lg: 1.2rem; 
  --gap-xlg: 2.7rem;

  --radius-sm: .35rem;
  --radius-md: .6rem;
  --radius-lg: .8rem;
  --radius-pill: 999px;

}

